@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --ketupat-item-width: 40px;
  --ketupat-item-gap: 2px;
  --ketupat-item-color-even: #73be1f;
  --ketupat-item-color-odd: #00a409;

  --background-color: #feff9a;
}

body {
  font-family: "Pacifico", cursive;
  background: var(--background-color);
  padding: 0;
  margin: 0;

  #page-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;

    .card-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .ketupat-wrapper {
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
        transform: rotate(45deg);
        width: calc(
          var(--ketupat-item-width) * 3 + (var(--ketupat-item-gap) * 3)
        );

        div {
          width: var(--ketupat-item-width);
          height: var(--ketupat-item-width);

          &:nth-child(odd) {
            background: var(--ketupat-item-color-odd);
          }

          &:nth-child(even) {
            background: var(--ketupat-item-color-even);
          }
        }
      }

      .greeting-wrapper {
        margin-top: 4rem;
        text-align: center;
      }
    }
  }
}
